* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 1408px;
    height: 4220px;
    background: rgb(255, 255, 255);
    margin: auto;
}

.logo {
    width: 4%;
    height: 65%;
    position: relative;
}

.logo > img {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.header__inner {
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 55%;
    height: 100%;
    text-transform: uppercase;
}

.header__menu {
    display: flex;
    list-style: none;
    width: 85%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    font-family: DIN-Light;
}

.language {
    width: 25px;
    height: 25px;
    background: 0% 0% / contain no-repeat;
    display: block;
}

.book__btm {
    position: relative;
    right: 2.5%;
    width: 15%;
    height: 65%;
    background-color: rgb(91, 100, 96);
    display: flex;
    align-items: center;
    justify-content: center;
}

.book__btm > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: DIN-Light;
}

main {
    width: 100%;
    height: auto;
}

.main__intro {
    width: 100%;
    height: 85vh;
    background-color: rgb(112, 84, 226);
    background-image: url("img/intro.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.intro__inner {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 5em;
    position: relative;
}

.intro__heading {
    font-family: "Open Sans", sans-serif;
    font-size: 70px;
    margin: 0px;
    font-weight: 300;
}

.intro__paragraf {
    font-family: Mulish, sans-serif;
    font-size: 20px;
    text-align: center;
}

.arrow__placeholder {
    position: absolute;
    top: 90%;
    right: 48%;
    width: 5%;
    display: flex;
    justify-content: space-between;
}

.left__arrow {
    transform: rotate(-360deg);
}

.main__cabins {
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cabins__upper {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
}

.cabins__upper__paragraf {
    font-family: "Open Sans", sans-serif;
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cabins__upper__paragraf > h2 {
    width: 100%;
    font-size: 40px;
    font-weight: 400;
    padding: 1em;
    position: relative;
    color: rgb(91, 100, 96);
    font-family: "Open Sans", sans-serif;
}

.main__forest__paragraf__block {
    height: 100%;
    width: 50%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    justify-content: space-evenly;
    align-items: center;
    line-height: 30px;
}

.cabins__upper__paragraf__block > h2 {
    width: 100%;
    font-size: 40px;
    font-weight: 400;
    padding: 1em;
    position: relative;
    color: rgb(91, 100, 96);
    font-family: "Open Sans", sans-serif;
}

.cabins__upper__paragraf > p {
    font-size: 16px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    line-height: 30px;
}

.cabins__upper__paragraf > a {
    font-size: 16px;
    font-weight: 600;
    color: rgb(91, 100, 96);
    text-decoration: none;
    line-height: 30px;
}

span {
    border-bottom: 2px solid rgb(91, 100, 96);
}

.main__forest__paragraf__block > a {
    font-size: 30px;
    font-weight: 600;
    color: rgb(91, 100, 96);
    text-decoration: none;
}

.cabins__upper__paragraf__block > a {
    font-size: 16px;
    font-weight: 600;
    color: rgb(91, 100, 96);
    text-decoration: none;
    line-height: 30px;
}

.cabins__upper__img {
    width: 45%;
    height: 100%;
    background-image: url("img/block2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cabins__lower {
    width: 95%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabins__lower > img {
    width: 32%;
    height: 92%;
}

.main__forest {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(233, 236, 224);
}

.cabins__upper__paragraf_block {
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 4em;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    color: rgb(51, 51, 51);
}

.cabins__upper__paragraf_block > h2 {
    width: 100%;
    font-size: 40px;
    font-weight: 400;
    padding: 1em;
    position: relative;
    color: rgb(91, 100, 96);
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    line-height: 40px;
}

.main__forest__img {
    width: 50%;
    height: 100%;
    background-image: url("img/Forest.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.forest__img__inner {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.forest__img__inner > div {
    height: 33%;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    bottom: 1em;
    right: 3em;
    border-radius: 50%;
}

.forest__img__inner > div > div {
    height: 75%;
    width: 75%;
    background-color: rgba(251, 250, 250, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 50%;
}

.forest__img__inner > div > div > div {
    height: 70%;
    width: 70%;
    background-color: rgb(251, 250, 250);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    font-family: DIN-Light;
    text-align: center;
}

.main__forest__paragraf__block {
    font-family: DIN-Light;
    width: 50%;
    height: 60%;
    box-sizing: border-box;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__facilities {
    width: 100%;
    height: 50vh;
    background: rgb(91, 100, 96);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    line-height: 50px;
}

.main__facilities > h2 {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
}

.main__facilities__inner {
    width: 60%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__facilities__inner > div {
    width: 20%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

.main__about__us {
    width: 100%;
    height: 60vh;
    display: flex;
    position: relative;
}

.about__us__left, .about__us__right {
    width: 50%;
    height: 100%;
    background-image: url("img/about1.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about__us__right {
    background-image: url("img/about2.png");
}

.more__about__us {
    position: absolute;
    width: 10%;
    height: 30%;
    border-radius: 100%;
    background-color: rgb(233, 236, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(35%);
    left: calc(45.35%);
}

footer {
    width: 100%;
    height: 100vh;
    background-color: rgb(105, 110, 107);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__inner__top {
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
}

.footer__inner__top > p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.footer__inner__top > ul {
    list-style: none;
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__inner__top > ul > li > a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: DIN-Light;
    font-weight: 100;
}

.footer__inner_center {
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer__inner__form {
    width: 30%;
    height: 70%;
}

.footer__inner__form > form {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.footer__inner__form > form > input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 100;
    box-sizing: border-box;
    padding-left: 0.5em;
}

.footer__inner__form > form > input[type="text"]::placeholder {
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    padding-left: 0.1em;
}

.footer__inner__form > form > input[type="button"] {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 25px;
}

.footer__inner__form > p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.footer__list__pay {
    width: 25%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    align-self: self-start;
}

.footer__inner__bottom {
    width: 80%;
    height: 30%;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}
