* {
    margin: 0;
    padding: 0;
}

@import url(/fonts.css);

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.logo {
    width: 4%;
    height: 65%;
    position: relative;

}

.logo>img {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* position: fixed; */
    background-color: #fff;
}

.header__inner {
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

nav {
    width: 35%;
    height: 100%;

}

.header__menu {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'DIN-Light';

}

.langvich {
    background-image: url(img/united-kingdom.png);
    background-position: center;
    width: 25px;
    height: 20px;
    background: no-repeat;
    background-size: contain;
    display: block;
}

.book__btm {
    position: relative;
    right: 2.5%;
    width: 15%;
    height: 65%;
    background-color: #5b6460;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book__btm>a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'DIN-Light';


}

main {
    width: 100%;
    height: auto;
}

.main__intro {
    width: 100%;
    height: 85vh;
    background-color: #7054e2;
    background-image: url(/img/intro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.intro__inner {
    background-color: rgba(0, 0, 0, .35);
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 5em 5em;
    position: relative;

}


.intro__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
    margin: 0;
    font-weight: 300;

}

.intro__paragraf {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    text-align: center;

}

.arrow__placeholder {
    position: absolute;
    top: 90%;
    right: 48%;
    width: 5%;
    display: flex;
    justify-content: space-between;


}

.left__arrow {
    transform: rotate(-360deg);
}

.main__cabins {
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.cabins__upper {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;


}

.cabins__upper__paragraf {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cabins__upper__paragraf>h2,
.main__forest__paragraf>h2 {
    font-size: 40px;
    font-weight: 400;
    color: #5b6460;

}

.cabins__upper__paragraf>p,
.main__forest__paragraf>p {
    font-size: 30px;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;


}

.cabins__upper__paragraf>a,
.main__forest__paragraf>a {

    font-size: 30px;
    font-weight: 600;
    color: #5b6460;
    text-decoration: none;



}

.cabins__upper__paragraf>a>span,
.main__forest__paragraf>a>span {
    content: "";
    display: block;
    background-color: #5b6460;
    width: 80px;
    height: 2px;
}


.cabins__upper__img {
    width: 45%;
    height: 100%;
    background-image: url(img/block2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.cabins__lower {
    width: 95%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabins__lower>img {
    width: 32%;
    height: 92%;
}

.main__forest {
    background-color: #E9ECE0;
    width: 100%;
    height: 80vh;
    display: flex;
}

.main__forest__img {
    width: 50%;
    height: 100%;
    background-image: url(/img/Forest.png);
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;
}

.forest__img__inner {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, .15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.forest__img__inner>div {
    height: 33%;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    bottom: 1em;
    right: 3em;
    border-radius: 50%;
}

.forest__img__inner>div>div {
    height: 75%;
    width: 75%;
    background-color: rgba(251, 250, 250, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 50%;
}


.forest__img__inner>div>div>div {
    height: 70%;
    width: 70%;
    background-color: rgba(251, 250, 250, 1);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    font-family: 'DIN-Light';
    text-align: center;
}

.main__forest__paragraf {
    font-family: 'DIN-Light';
    width: 50%;
    height: 60%;
    box-sizing: border-box;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.main__facilities {
    width: 100%;
    height: 50vh;
    background-color: #5b6460;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main__facilities>h2 {
    color: #fff;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}

.main__facilities__inner {
    width: 60%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__facilities__inner>div {
    width: 20%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.main__about__us {
    width: 100%;
    height: 60vh;
    display: flex;
    position: relative;

}

.about__us__left, .about__us__right  {
    width: 50%;
    height: 100%;
    background-image: url(img/about1.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.about__us__right {
    background-image: url(img/about2.png);
    
}

.more__about__us {
    position: absolute;
    width: 10%;
    height: 30%;
    border-radius: 50%;
    background-color: #E9ECE0;
    display: flex;
    align-items:center;
    justify-content: center;
    top: calc(50% - 15%);
    left: calc(50% - 4.65%);
}

footer {
    width: 100%;
    height: 100vh;
    background-color: #696e6b;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;


}

.footer__inner__top{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    color:#fff;
}

.footer__inner__top > p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.footer__inner__top > ul{
    list-style: none;
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    

}

.footer__inner__top > ul > li > a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'DIN-Light';
    font-weight: 100;
}


.footer__inner_center{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: white;
}

.footer__inner__form {
    width: 30%;
    height: 70%;


}

.footer__inner__form > form > input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 100;
    box-sizing: border-box;
    padding-left: .5em;

}

.footer__inner__form > form > input[type="text"]::placeholder {
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    padding-left: .5em;
}

.footer__inner__form > form > input[type="btn"]

